:host * {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
}

button {
	display: block;
	border: none;
	background: transparent;
	width: 100%;
	text-align: start;
	color: var(--text-color);

	border-radius: var(--border-radius-small);
}

button:focus {
	outline: none;
	background: var(--outer-border-focus-color);
	color: var(--bg-color);
	font-weight: bold;
}

button:hover {
	background: var(--theme-color);
	color: var(--bg-color);
}
