:host {
	--regular-block-border: var(--is-regular-motion) dotted;
	--reduced-motion-block-border: solid;
	--block-border: var(--regular-block-border, var(--reduced-motion-block-border));

	--regular-inline-border: var(--is-regular-motion) solid;
	--reduced-motion-inline-border: solid;
	--inline-border: var(--regular-inline-border, var(--reduced-motion-inline-border));
}

:host * {
	box-sizing: border-box;
	font-family: inherit;
}

:host([disabled]) #container {
	color: var(--disabled-input-color);

	&::before { border-color: var(--disabled-input-color); }
}

#container {
	display: flex;
	flex-direction: column;
	gap: var(--margin-small);
}

#label { padding-inline-start: calc(var(--margin-medium) + var(--padding-medium) + var(--border-medium)); }

#container:has(#input-container:focus-within) #label { font-weight: bold; }

#input-container {
	position: relative;
	display: inline-flex;
	width: fit-content;
	align-items: center;
	gap: var(--padding-medium);
	margin: var(--margin-large);
	padding: var(--padding-small);

	border: var(--inline-border) var(--border-medium) var(--inner-border-normal-color);
	border-block-style: var(--block-border);
	border-radius: 100vmax;

	background-clip: content-box;

	transition: all 0.2s ease-in-out;

	&::before {
		content: '';
		display: block;
		position: absolute;
		inset: calc(var(--margin-medium) * -1);
		pointer-events: none;
		transition: inherit;

		border: var(--inline-border) var(--border-medium) var(--outer-border-normal-color);
		border-radius: 100vmax;
	}

	& input {
		min-width: 2rem;

		font-size: inherit;
		background: transparent;
		border: none;

		color: currentcolor;
		padding: var(--padding-small);

		&::placeholder { color: var(--gray-color); }

		&:focus { outline: none; }
	}

	&:focus-within {
		border-color: var(--inner-border-focus-color);
		background-color: var(--outer-border-focus-color);
		color: var(--bg-color);

		& input {
			font-weight: bold;

			&::placeholder { color: var(--bg-color); }
		}

		&::before {
			border-color: var(--outer-border-focus-color);
			border-block-style: var(--block-border);
		}
	}

	&:hover {
		border-color: var(--inner-border-hover-color);
		background-color: var(--gray-color);
		color: var(--text-color);


		& input::placeholder { color: var(--gray-color); }

		&::before { border-color: var(--outer-border-hover-color); }
	}
}

:host([required]) #input-track::after {
	content: '';
	display: block;
	width: var(--required-marker-size);
	height: var(--required-marker-size);
	background-color: var(--required-color);
	border-radius: 100vmax;
	border: var(--inline-border) var(--border-medium) currentcolor;
	position: absolute;
	inset: calc(var(--margin-small) * -1.5);
	inset-block-end: auto;
	inset-inline-start: auto;
}
