:host {
	--avatar-size: 7rem;
	--mask-size: 1.22rem;
}

:host * {
	box-sizing: border-box;
	font-family: inherit;
}

#container {
	display: inline-grid;
	grid-template-columns: var(--avatar-size);
	grid-template-rows: var(--avatar-size);
	grid-template-areas: 'avatar';
	place-items: center;
}

#container > * { grid-area: avatar; }

#image-wrapper {
	width: var(--avatar-size);
	height: var(--avatar-size);

	border: var(--border-medium) solid var(--outer-border-normal-color);
	border-radius: 100vmax;
	margin: var(--margin-medium);
	padding: var(--padding-small);

	background-clip: content-box;

	transition: all 0.2s ease-in-out;

	-webkit-mask-image: radial-gradient(circle var(--mask-size) at calc(100% - var(--mask-size)) calc(100% - var(--mask-size)), transparent var(--mask-size), var(--bg-color));
	pointer-events: none;
}

#image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100vmax;
}

#image-wrapper svg {
	width: 100%;
	height: 100%;
	fill: var(--text-color);
}

#container:focus-within #image-wrapper {
	border-color: var(--outer-border-focus-color);
	background-color: var(--outer-border-focus-color);
}

:host(:not([image])) img { display: none; }
:host([image]) svg { display: none; }

#status {
	display: grid;
	place-items: center;
	width: calc(var(--mask-size) * 2);
	height: calc(var(--mask-size) * 2);
	place-self: end end;
	transform-origin: bottom right;
	z-index: 1;
}

#status ::slotted(span) {
	font-size: calc(var(--mask-size) * 1.6);
}
