:host {
	--card-size: 15rem;

	--regular-block-border: var(--is-regular-motion) dotted;
	--reduced-motion-block-border: solid;
	--block-border: var(--regular-block-border, var(--reduced-motion-block-border));

	--regular-inline-border: var(--is-regular-motion) solid;
	--reduced-motion-inline-border: solid;
	--inline-border: var(--regular-inline-border, var(--reduced-motion-inline-border));
}

:host * {
	box-sizing: border-box;
	font-family: inherit;
}

#card-container {
	position: relative;
	display: grid;
	width: var(--card-size);
	height: var(--card-size);
	color: var(--text-color);

	place-items: center;
	gap: var(--padding-medium);
	margin: var(--margin-large);
	padding: var(--padding-small);

	border: var(--inline-border) var(--border-medium) var(--inner-border-normal-color);
	border-block-style: var(--block-border);
	border-radius: var(--border-radius-medium);

	background-clip: content-box;

	transition: all 0.2s ease-in-out;
}

#card-container > * {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
}

#card-container::before {
	content: '';
	display: block;
	position: absolute;
	inset: calc(var(--margin-medium) * -1);
	pointer-events: none;
	transition: inherit;

	border: var(--inline-border) var(--border-medium) var(--outer-border-normal-color);
	border-radius: var(--border-radius-medium);
}

#card-container button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 2rem;

	font-size: inherit;
	background: transparent;
	border: none;

	color: currentcolor;
	padding: var(--padding-small);
	text-transform: uppercase;
	cursor: pointer;
}

#card-container button:focus { outline: none; }

#card-container:focus-within {
	border-color: var(--inner-border-focus-color);
	background-color: color-mix(in srgb, var(--outer-border-focus-color), transparent 50%);
	color: var(--text-color);
	font-weight: bold;
}

#card-container:focus-within::before {
	border-color: var(--outer-border-focus-color);
	border-block-style: var(--block-border);
}

#card-container:hover {
	border-color: var(--inner-border-hover-color);
	background-color: var(--gray-color);
	color: var(--text-color);
}

#card-container:hover::before { border-color: var(--outer-border-hover-color); }

#hero-image {
	pointer-events: none;
	z-index: -1;
}

#hero-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	filter:grayscale(0.1);
	opacity: 0.7;
}

#card-content {
	background: linear-gradient(to bottom, transparent, var(--bg-color));
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
