:host {
	--tabs-size: 2.5rem;
	--panel-max-size: calc(85vmin - var(--tabs-size));
	--panel-min-size: 20rem;
}

:host * {
	box-sizing: border-box;
	font-family: inherit;
}

#tab-container {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

#tabs-wrapper {
	display: flex;
	align-items: end;
	justify-content: center;
	gap: var(--padding-medium);
	inline-size: fit-content;
	block-size: var(--tabs-size);
	margin-inline: auto;
}

#panels-wrapper {
	padding: var(--padding-medium);
	overflow: auto;
	inline-size: 100%;
	block-size: 100%;
	min-block-size: var(--panel-min-size);
	max-block-size: var(--panel-max-size);

	border: solid var(--border-medium) var(--text-color);
	border-radius: var(--border-radius-medium);
}

#panels-wrapper:focus-within {
	border-color: var(--outer-border-focus-color);
}
