:host * {
	box-sizing: border-box;
	font-family: inherit;
}

header {
	display: flex;
	align-items: center;
	gap: var(--margin-medium);
}

#content {
	padding-inline: var(--padding-medium);
}

:host([hide-buttons]) footer { display: none; }

:host([liked]) #like { display: none; }
:host(:not([liked])) #unlike { display: none; }
