:host * {
	box-sizing: border-box;
	font-family: inherit;
}

input {
	width: 1px;
	height: 1px;
	opacity: 0.01;
	position: absolute;

	&:focus { outline: none; }
}

#edit-overlay {
	width: 100%;
	height: 100%;
}

label {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	background-clip: content-box;
	padding: var(--padding-medium);
	background-image: radial-gradient(circle at center, transparent, var(--gray-color));

	border-radius: 100vmax;

	transition: all 0.2s ease-in-out;
	-webkit-mask-image: radial-gradient(circle var(--mask-size) at calc(100% - var(--mask-size)) calc(100% - var(--mask-size)), transparent var(--mask-size), black);

	&:hover {
		cursor: pointer;
		background-image: radial-gradient(circle at center, transparent, var(--inner-border-hover-color));
	}
}

#edit-overlay.drop label {
	cursor: pointer;
	background-image: radial-gradient(circle at center, transparent, var(--inner-border-focus-color));
}

:host([disabled]) #edit-overlay { display: none; }
:host(:not([disabled])) #image-wrapper { opacity: 0.3; }
